Repository vaibhav-walke/terragrunt: changes, and which Atlantis projects are due for each by the changed paths.
All: live/atlantis/iam, live/dev/iam, live/dev/ec2, live/qa/ec2

live/atlantis/iam:
  dir: live/atlantis/iam
  terraform_version: v0.12.18
  workflow: terragrunt
  apply_requirements:
  - mergeable

live/dev/iam:
  dir: live/dev/iam
  terraform_version: v0.12.18
  workflow: terragrunt
  apply_requirements:
  - mergeable

live/dev/ec2:
  dir: live/dev/ec2
  terraform_version: v0.12.18
  workflow: terragrunt
  apply_requirements:
  - mergeable

live/qa/ec2:
  dir: live/qa/ec2
  terraform_version: v0.12.18
  workflow: terragrunt
  apply_requirements:
  - mergeable

updated config
  live/dev/iam/terragrunt.hcl
Due: live/dev/iam

updated config
  modules/TargetAccountIAM/outputs.tf
Due: none

updated config
  atlantis.yaml
Due: none

updated config
  atlantis.yaml
  live/atlantis/iam-config/terragrunt.hcl
  live/atlantis/terragrunt.hcl
Due: none

updated config
  atlantis.yaml
  live/atlantis/iam/terragrunt.hcl
Due: live/atlantis/iam

updated config
  live/atlantis/iam/terragrunt.hcl
Due: live/atlantis/iam

updated config
  atlantis.yaml
  live/iam/terragrunt.hcl
Due: none

updated config
  live/atlantis/iam/terragrunt.hcl
  modules/SourceAccountIAM/main.tf
Due: live/atlantis/iam

updated config
  live/atlantis/iam/terragrunt.hcl
  modules/SourceAccountIAM/outputs.tf
  modules/SourceAccountIAM/vars.tf
Due: live/atlantis/iam

updated config
  modules/SourceAccountIAM/main.tf
  modules/SourceAccountIAM/outputs.tf
Due: none

updated config
  atlantis.yaml
  live/atlantis/terragrunt.hcl
Due: none

updated config
  live/atlantis/iam/terragrunt.hcl
  live/atlantis/terragrunt.hcl
Due: live/atlantis/iam

updated config
  live/dev/iam/terragrunt.hcl
  modules/TargetAccountIAM/main.tf
Due: live/dev/iam

updated config
  live/atlantis/iam/terragrunt.hcl
  live/dev/iam/terragrunt.hcl
  modules/EmptyModule/main.tf
  modules/EmptyModule/outputs.tf
  modules/EmptyModule/vars.tf
Due: live/atlantis/iam, live/dev/iam

updated config
  modules/EmptyModule/main.tf
Due: none

test
  live/dev/ec2/terragrunt.hcl
Due: live/dev/ec2

Path conditions:
  live/atlantis/iam: any of: live/atlantis/iam/*.hcl
  live/dev/iam: any of: live/dev/iam/*.hcl
  live/dev/ec2: any of: live/dev/ec2/*.hcl
  live/qa/ec2: any of: live/qa/ec2/*.hcl
